<!-- example1 - Remove all the whitespaces and then print the length of the remaining string. -->
<h3>
  Remove all the whitespaces and then print the length of the remaining string.
</h3>
<!-- <p>{{ newstr }}</p>
<p>{{ newstr.length }}</p> -->
<input [(ngModel)]="str" /> <br />
<p>{{ removeWhitespace(str) }}</p>
<!-- example2 - Evaluate the post expression and print the result. -->
<h3>Evaluate the post expression and print the result</h3>
<input [(ngModel)]="exp" /> <br />
<p>{{ evaluatePostfix(exp) }}</p>
